{% extends "driverapp/base.html" %}

{% block content %}
<div class="container mx-auto mt-8 p-4">
    <h2 class="text-2xl font-bold mb-6">Driver Details</h2>
    <div class="p-4 bg-white shadow rounded">
        <p><strong>Name:</strong> {{ driver_profile.user.username }}</p>
        <p><strong>Phone Number:</strong> {{ driver_profile.phone_number }}</p>
        <p><strong>License Number:</strong> {{ driver_profile.license_number }}</p>
        <p><strong>Vehicle Details:</strong> {{ driver_profile.vehicle_details }}</p>
        <p><strong>Address:</strong> {{ driver_profile.address }}</p>
    </div>
</div>
{% endblock %}
